[package]
name = "fat32_parser"
version = "0.1.0"
edition = "2021"

[dependencies]
libc = "0.2"

[lib]
name = "fat32"
path = "src/lib.rs"

[[bin]]
name = "runner"
path = "src/main.rs"
test = false
bench = false

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"